############################
# Maven / Build
############################
target/
!**/src/main/**/target/
!**/src/test/**/target/

############################
# Gradle (caso use no futuro)
############################
build/
!**/src/main/**/build/
!**/src/test/**/build/

############################
# Maven Wrapper
############################
.mvn/wrapper/maven-wrapper.jar

############################
# Spring Boot
############################
HELP.md
logs/
*.log

# Environment / Secrets
.env
.env.*
*.env

# Spring local profiles
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.ipr
*.iws

############################
# Eclipse / STS
############################
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated

############################
# NetBeans
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# VS Code
############################
.vscode/

############################
# OS files
############################
.DS_Store
Thumbs.db